.cookie-consent{
        position: fixed;
        bottom: 8px;
        left: 20px;
        width: 260px;
        padding-top: 7px;
        height: 83px;
        color: #fff;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
        background: -webkit-linear-gradient(135deg, #f86300, #ff009d, #04a0c7);
        z-index: 120;
        cursor: pointer;
        border-radius: 3px;
        animation: gradient 10s ease infinite;
        background-size: 400% 400%;
        }
        
        .allow-button{
            height: 20px;
            width: 104px;
            color: #fff;
            font-size: 12px;
            line-height: 10px;
            border-radius: 3px;
            font-weight: 700;
            border: 1px solid background: -webkit-linear-gradient(135deg, #f86300, #ff009d, #04a0c7);
            background: black;
        }
        .privacy {
            color: white;
            text-decoration: underline;
        }
        .privacy:hover {
            color: white;
        }